@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,900&display=swap');


* {
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(228, 202, 206);
}


nav {
    position: sticky;
    top: 0px;
    height: 60px;
    width: 100%;
    text-shadow: 2px 2px 5px #b5838d;
    z-index: 1;
    padding-bottom: 2%;
}

nav a {
    color: #6d6875;
    text-align: center;
    position: relative;
    top: 40%;
    left: 70%;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}


#aboutmetext {
    display: inline-block;
    width: 400px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 5%;
}

#aboutme img {
    position: relative;
    left: 25%;
    top: 60px;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
}

#pet img {
    display: inline-block;
    height: 400px;
    width: 400px;
    position: relative;
    left: 5%;
    opacity: 0.9;
}

#pettext {
    display: inline-block;
    width: 400px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 25%;
}

#hobby img {
    position: relative;
    left: 25%;
    top: 60px;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
}

#hobbytext {
    display: inline-block;
    width: 400px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 5%;
}

#contact {
    height: 200px;
    position: relative;
    border-top: solid darkgray;
    padding-top:2%;
}


div{
    display: inline-block;
    position:relative;
    left:15%;
}

#contact img{
    position:relative;
    left: 10%;
    width: 90px;
    height: 90px;
    opacity:0.8;
}



h1{
    font-size: 30px;
    color:#b5838d;
}

h2{
    color: #6d6875;
}
